
*{
	font-family: sans-serif, arial, helvetica;
}

	body{
background: url(../img/gris2.png) fixed;


}
#contenedor{
	margin: auto;
	background-color: #4c5051;
	border: 5px;
	border-color: blue;
	width: 960px;

}
#banner{
	background-image: url(../img/Wallpaper.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 300px 30px 7px 30px;
	margin: 20px 0;
	color: #FFF;
}
#banner h1{
	text-align: center;
	margin-bottom: 50px;
	color: white;
	font-size: 55px;

}
#img2 img{
	width: 80%;
    padding: 100px;
	}
#parrafo h2{
	margin-left: 20px;
	text-align: left;
    color: #FFF;
}
#parrafo p{
	margin-left: 20px;
	text-align: justify;
	margin-right: 7px;
	align-items: center;
	color: #FFF;
	
}
#parrafo img{
	width: 30%;
	float: right;
	margin-left: 10px;
	margin-right: 16px;

}
#menu a{
	border:solid 2px #fff;
	text-decoration: none;
	color: white;
	font-family: comic-sans;
	font-size: 25px;
	padding: 18px;
	background-color: #df1f2d;
	align-items: center;
	margin: -3px;
	margin-top: -50px;
	display: inline-block;
}
#menu a:hover{
	background-color:#2b3784;


}
#menu {

	text-align: center;
}
#comic p{
	margin:0 20px 50px 20px ;
	text-align: justify;
color: #FFF;
}

#comic h2{
	margin-top: 60px;
	margin-left: 20px;
	text-align: left;
	color: #FFF;
}
#comic img{
	width: 20%;
	float: left;
	margin: 0 16px 0 20px;

}

	#boton a{
	border: solid 2px #fff;
	margin-left: 210px; 
    margin-top:20px;
	width: 150px;
	text-align: center;
	background-color: #df1f2d;
	padding: 20px;
    text-decoration: none;
	color: white;
	border-radius: 8px;
}
#boton a:hover{
	background-color:#2b3784;
	}

	#footer {
    font-size: 15px;
	clear: both;
	background: #D5D8DC ;
	padding: 20px;
}
#copy, #redes{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
#redes{
	text-align: right;
}
#redes a img{
	margin:  0 5px;
}